@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);body {
  font-family: 'PT Sans', sans-serif; }

button {
  cursor: pointer; }

.select-wrap {
  width: 100%;
  background: #F7F7F7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.container {
  margin: 0 auto;
  max-width: 985px;
  width: 100%; }

.content {
  margin-top: 106px;
  padding-top: 1px;
  padding-bottom: 120px;
  min-height: calc(100vh - 106px - 85px);
  box-sizing: border-box; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  background: transparent; }

.link {
  padding: 7px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #454242;
  text-decoration: none;
  transition: .2s;
  background: #FEDD46; }

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  max-width: 200px; }
  .details__link {
    text-transform: uppercase; }
  .details__btn {
    width: 30px; }
    .details__btn svg path {
      fill: #5b5b5b; }
    .details__btn:hover svg path {
      fill: #000; }

.price {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #454242; }
  .price__int {
    font-size: 60px; }
  .price__rest {
    font-size: 34px; }
  .price__name {
    display: inline-block;
    font-size: 18px;
    font-weight: 400; }

.service {
  margin-top: 54px; }
  .service__head {
    display: flex;
    align-items: center; }
  .service__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 25px;
    flex-grow: 1;
    min-height: 62px;
    border-top: 3px solid #EED043;
    box-sizing: border-box;
    font-size: 23px;
    font-weight: 700;
    color: #454242;
    background: #FEDD46; }
  .service__note {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-basis: 30.16%;
    min-height: 62px;
    border-top: 3px solid #DABE3B;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    color: #454242;
    text-transform: uppercase;
    background: #EED043; }
  .service__to {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px;
    transition: .3s; }
    .service__to:hover {
      background: #DABE3B; }
  .service__mark {
    display: flex;
    margin-top: 17px;
    min-height: 79px;
    background: #F7F7F7; }
  .service__text {
    display: flex;
    align-items: center;
    padding-left: 35px;
    flex-grow: 1;
    font-size: 17px;
    font-weight: 400;
    color: #454242; }
  .service__price {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 227px;
    background: #FEDD46;
    box-sizing: border-box;
    border-top: 3px solid #EED043; }
  .service__content {
    display: flex;
    background: #F7F7F7; }
  .service__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 240px;
    transition: background .3s;
    text-decoration: none; }
    .service__col:hover {
      background: #EDEDED; }
  .service__name {
    margin-top: 7px;
    font-size: 21px;
    font-weight: 700;
    color: #454242;
    text-align: center; }
  .service__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 385px;
    min-height: 30px;
    font-size: 17px;
    font-weight: 400;
    color: #454242; }
    .service__item span:nth-child(2) {
      flex-grow: 1;
      max-width: 140px;
      text-align: left; }

body, div, p, h1, h2, h3, h4, h5, h6, button {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  display: inline-block; }

.cloud {
  flex: 1;
  align-self: flex-end;
  background-position-y: bottom;
  margin-bottom: -2px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  background: #FEDD46; }
  .header__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    margin: 0 auto;
    max-width: 985px;
    min-height: 106px;
    background: #FEDD46; }
  .header__cloud-l {
    display: block;
    height: 38px;
    background: url(./src/assets/images/00abbc242112aeb3d11f47dc613ca2e1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right; }
  .header__cloud-r {
    display: block;
    height: 38px;
    background: url(./src/assets/images/19d5d262a9090437f361715094a47b08.png);
    background-size: cover;
    background-repeat: no-repeat; }
  .header__logo {
    margin-right: 27px; }

.navigation {
  flex: 1;
  align-self: flex-end; }
  .navigation__title {
    font-size: 27px;
    font-weight: 400;
    color: #A78C47; }
  .navigation__wrap {
    display: flex;
    justify-content: space-between;
    flex: 1; }
  .navigation__list {
    display: flex;
    margin-top: 14px;
    border-top: 3px solid #EED043; }
  .navigation__item {
    flex-grow: 1; }
  .navigation__link {
    display: inline-block;
    padding: 11px;
    font-size: 14px;
    font-weight: 700;
    color: #454242;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .2s, color .2s; }
    .navigation__link:hover {
      color: #DE1010; }
    .navigation__link--active {
      background: #EDCE40; }

.user {
  display: flex;
  align-items: center; }
  .user__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    border-radius: 50%;
    background: #EDCE40;
    width: 26px;
    height: 26px; }
  .user__logout {
    display: flex;
    background: transparent;
    border: 0;
    margin-left: 10px; }
    .user__logout:hover svg path {
      fill: #454242; }
  .user__link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #A78C47;
    text-decoration: none; }
    .user__link:hover {
      color: #454242; }
      .user__link:hover .user__logo svg path {
        fill: #454242; }

.footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 85px;
  background: linear-gradient(90deg, #EED043, 50%, #FEDD46 50%); }
  .footer::after {
    content: '';
    position: absolute;
    bottom: 85px;
    left: 0;
    width: 50%;
    height: 3px;
    background: #DABE3B; }
  .footer::before {
    content: '';
    position: absolute;
    bottom: 85px;
    right: 0;
    width: 50%;
    height: 3px;
    background: #EED043; }
  .footer__square {
    position: absolute;
    top: -19px;
    left: 50%;
    width: 32px;
    height: 32px;
    z-index: 2;
    transform: translate(-50%, 0) rotate(45deg);
    box-shadow: 4px 0px 0px -1px #EED043;
    background: #fff; }
  .footer .container {
    display: flex; }
  .footer__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    padding-right: 40px;
    box-sizing: border-box; }
    .footer__col--right {
      padding-right: 0;
      padding-left: 40px; }
  .footer__icon {
    margin-right: 12px;
    width: 20px;
    height: 20px; }
  .footer__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #7E6D17;
    text-decoration: none; }
    .footer__link:hover {
      text-decoration: underline;
      color: #454242; }
      .footer__link:hover svg path {
        fill: #454242; }
  .footer__title {
    font-size: 18px;
    font-weight: 700;
    color: #7E6D17;
    text-transform: uppercase; }

.girl {
  position: absolute;
  height: 320px;
  transition: .3s;
  visibility: visible;
  opacity: 1; }
  .girl--left {
    left: 4.5vw;
    bottom: 88px;
    z-index: 2; }
  .girl--right {
    right: 4vw;
    bottom: 0;
    z-index: 2; }

@media (max-width: 1550px) {
  .girl {
    animation: fadeOut .5s linear forwards; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  99% {
    opacity: 0;
    height: 320px; }
  100% {
    opacity: 0;
    height: 0; } }

.filters {
  margin-top: 47px; }
  .filters__head {
    display: flex;
    justify-content: space-between; }
  .filters__item--company {
    flex-basis: 362px; }
  .filters__item--month {
    flex-basis: 224px; }
  .filters__item--status {
    flex-basis: 296px; }
  .filters__label {
    font-size: 18px;
    font-weight: 700;
    color: #B0B0B0;
    text-transform: uppercase; }
  .filters__select {
    display: block;
    margin-top: 11px;
    padding-left: 17px;
    min-height: 40px;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 3px solid #E4E4E4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background: url(./src/assets/images/1b4c7995fc2290ad91af91db77c72670.svg) no-repeat right center; }
  .filters__option {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px; }

.organization {
  margin-top: 41px; }
  .organization__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
    min-height: 54px;
    box-sizing: border-box; }
  .organization__title {
    font-size: 20px;
    font-weight: 700;
    color: #FFF; }
  .organization__status {
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    padding-right: 32px;
    padding-left: 32px;
    font-size: 17px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase; }
    .organization__status::before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      height: 3px;
      width: 100%;
      background: transparent; }
  .organization--expired .organization__head {
    border-top: 3px solid #E55C4E; }
  .organization--expired .organization__status::before {
    background: #C44B3F; }
  .organization--expired .organization__head, .organization--expired .events__day {
    background: #F17164; }
  .organization--expired .organization__status {
    background: #E55C4E; }
  .organization--done .organization__head {
    border-top: 3px solid #85A93B; }
  .organization--done .organization__status::before {
    background: #6D8B30; }
  .organization--done .organization__head, .organization--done .events__day {
    background: #96BE42; }
  .organization--done .organization__status {
    background: #85A93B; }
  .organization--scheduled .organization__head {
    border-top: 3px solid #EED043; }
  .organization--scheduled .organization__status::before {
    background: #DABE3B; }
  .organization--scheduled .organization__title, .organization--scheduled .events__day {
    color: #454242; }
  .organization--scheduled .organization__head, .organization--scheduled .events__day {
    background: #FEDD46; }
  .organization--scheduled .organization__status {
    background: #EED043;
    color: #454242; }

.events__item {
  display: flex;
  margin-top: 6px; }

.events__date {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 176px; }

.events__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 62px;
  font-size: 52px;
  font-weight: 700;
  color: #fff; }

.events .wrap {
  margin-left: 7px; }

.events__month {
  font-size: 17px;
  font-weight: 700;
  color: #969696;
  text-transform: uppercase; }

.events__year {
  font-size: 22px;
  font-weight: 700;
  color: #CCC; }

.events__description {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 11px 22px;
  font-size: 18px;
  font-weight: 400;
  color: #6F6F6F;
  background: #F7F7F7; }
